table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

.loading-spinner {
  padding: 5;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center
  ;
}  